/* SCROLL STYLE */

@media screen {
	::-webkit-scrollbar {
		width: 10px;
	}
		
	::-webkit-scrollbar-track {
		border-radius: 2px;
	}
		
	::-webkit-scrollbar-thumb {
		border-radius: 2px;
		background-color: rgb(228, 228, 228);
	}
}

