/* APP STYLE */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ SHELL */
.app {
	width: 100%;
	min-height: 100vh;
	background-color: var(--main-bg);
}

.app__container {
	margin: 56px 0 0 250px;
	padding: 10px;
}

.app__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: calc(100vh - 76px);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION */
.section {
	width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION CATEGORIES */
.categories {
	display: flex;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
	flex: 0 0 50px;
	margin-bottom: 10px;
	height: 50px;
}

.categories::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.categories__list {
	display: grid;
	grid-gap: 10px;
	grid-auto-flow: column;
	width: max-content;
}

.categories__item {
	border: 1px solid var(--grey-light-100);
	border-radius: 50px;
	padding: 4px 12px;

	font-weight: 500;
	font-size: 14px;
	white-space: nowrap;
	cursor: pointer;
	color: var(--grey-light-100);
	background-color: var(--grey-light-20);
	transition:
		color 120ms ease,
		border-color 120ms ease,
		background-color 120ms ease;
}

.categories__item:hover {
	border-color: var(--blue-100);
	color: var(--blue-100);
	background-color: var(--blue-20);
}

.categories__item.active {
	font-weight: 600;
	border-color: var(--red-100);
	color: var(--red-100);
	background-color: var(--red-20);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION SLIDER */
.slider {
	flex: 0 1 auto;
	max-height: 300px;
	height: 300px;
	background-color: var(--test);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION VIDEOS */
.videos {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex: 1 1;
	/* background-color: var(--orange-10); */
}

.videos__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	grid-gap: 30px 20px;
	width: 100%;
}

.videos__box {
	position: relative;
	overflow: hidden;
	display: block;
	border-radius: 2px;
	padding-top: 56.25%;
	width: 100%;
	cursor: pointer;
}

.videos__picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videos__picture img {
	width: 100%;
	object-fit: cover;
}

.videos__picture::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: url("../../images/foot-white.svg") center center / 30px auto no-repeat;
	background-color: var(--black-40);
	transition: opacity 200ms ease;
	pointer-events: none;
}

.videos__box.live::after {
	content: "LIVE";
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 2px;
	padding: 5px 7px;

	font-weight: 600;
	font-size: 12px;
	letter-spacing: 1.15px;
	color: var(--white-grey-100);
	background-color: var(--red-100);
}

.videos__box:hover .videos__picture::after {
	opacity: 1;
}

.videos__data {
	position: absolute;
	bottom: 5px;
	right: 5px;
	border-radius: 2px;
	padding: 5px 7px;

	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1.1px;
	color: var(--white-grey-100);
	background-color: var(--black-60);
}

.videos__channel {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 10px;
	width: 100%;
}

.videos__avatar {
	display: flex;
	flex: 0 0 40px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: var(--white-grey-100);
}

.videos__avatar img {
	width: 100%;
	object-fit: contain;
}

.videos__description {
	margin: 0 10px;
	height: 40px;
	flex: 1;
	width: calc(100% - 90px);
}

.description {
	display: flex;
	flex-direction: column;
}

.description__title,
.description__name {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.description__title{
	flex: 0 0 23px;
	height: 23px;
}

.description__title a {
	font-weight: 600;
	font-size: 16px;
	color: var(--grey-night);
	transition: color 100ms ease;
}

.description__title a:hover {
	color: var(--blue-night-100);
}

.description__name {
	flex: 0 0 15px;
	height: 15px;
}

.description__name a {
	font-weight: 500;
	font-size: 14px;
	color: var(--grey-light-100);
	transition: color 100ms ease;
}

.description__name a:hover {
	color: var(--blue-night-100);
}

.videos__more {
	display: flex;
	justify-content: flex-end;
	width: 20px;
	height: 40px;
}

.videos__more svg {
	width: 6px;
	height: 100%;
	cursor: pointer;
	transition: fill 120ms ease;
}

.videos__more svg circle {
	fill: var(--icon-color);
}

.videos__more svg:hover circle {
	fill: var(--icon-color-hover);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION FOOTER */
.footer {
	flex: 0 0 30px;
	height: 30px;
	margin-top: 10px;
}

.footer__title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	width: 100%;
	height: 100%;
}

.footer__title span {
	flex-wrap: nowrap;
	font-weight: 600;
}

.footer__title span.icon {
	margin-left: 5px;
	font-size: 12px;
	transform: translateY(1px);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ MEDIA MAX 1200PX */
@media (max-width: 1200px) {
	.app__container {
		margin: 56px 0 0 70px;
	}
}