/* ASIDE STYLE */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ SHELL */
.aside {
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 250px;
	background-color: var(--bg);
}

.block-empty {
	pointer-events: none;
	cursor: none;
}

.aside .block-empty {
	margin-top: 56px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ CHANNELS */
.channels {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 0;
	width: 100%;
	min-height: 70px;
}

.channels::-webkit-scrollbar-thumb {
	visibility: hidden;
}

.channels:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.channels__list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 250px;
}

.channels__item {
	padding: 5px 15px;
	width: 100%;
	height: 50px;
	cursor: pointer;
}

.channels__item:hover {
	background-color: var(--grey-light-10);
}

.channel {
	display: flex;
	align-items: center;
}

.channel__box {
	display: flex;
	flex: 0 0 40px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 10px;
	width: 40px;
	height: 100%;
	background-color: var(--blue-40);
}

.channel__box img {
	width: 22px;
}

.channel__name {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex: 0 0 100px;
	width: 100px;
	height: 100%;
}

.channel__name span {
	overflow: hidden;
	font-weight: 600;
	font-size: 14px;
	text-overflow: ellipsis;
	color: var(--grey-night-80);
	transition: color 120ms ease;
}

.channel__name span:hover {
	color: var(--red-80);
}

.channel__indicator {
	position: relative;
	flex: 0 0 10px;
	margin: 0 5px;
	width: 10px;
	height: 100%;
}

.channel__indicator.active::after,
.channel__indicator.active::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	transform: translate(-50%, -50%);
}

.channel__indicator.active::before {
	background-color: var(--red-40);
	animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}

	60% {
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -50%) scale(2);
		opacity: 0;
	}
}

.channel__indicator.active::after {
	background-color: var(--red-100);
}

.channel__spectators {
	flex: 0 0 40px;
	margin-right: 2px;
	width: 40px;

	font-weight: 700;
	font-size: 12px;
	text-align: end;
	color: var(--grey-night-60);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ INFORMATION */
.information {
	width: 100%;
	height: 120px;
}

.information__container {
	height: 100%;
	padding: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ POSTER */
.poster {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px dashed var(--orange-60);
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: var(--orange-10);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ POSTER TOPIC */
.poster__topic {
	flex: 0 1;
	margin-bottom: 5px;
	width: 100%;

	font-weight: 700;
	font-size: 14px;
	text-align: center;
	color: var(--grey-night-100);
}

.poster__topic::selection {
	background-color: var(--orange-20);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ DELIMITER */
.delimiter {
	width: 100%;
	height: 5px;
	background-color: var(--main-bg);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ POSTER SOCIAL */
.social {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 30px;
	width: 100%;
	height: 30px;
	padding: 3px 0;
}

.social__item {
	flex: 0 0 20px;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	cursor: pointer;
}

.social__icon {
	width: 100%;
	height: 100%;
}

.social__icon path {
	fill: var(--grey-night-100);
	transition: fill 120ms ease;
}

.social__icon[data-icon="telegram"]:hover path {
	fill: #26A5E4;
}

.social__icon[data-icon="instagram"]:hover path {
	fill: #E4405F;
}

.social__icon[data-icon="facebook"]:hover path {
	fill: #1877F2;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ MEDIA MAX 1200PX */
@media (max-width: 1200px) {
	.information,
	.channel__name,
	.channel__indicator,
	.channel__spectators {
		display: none;
	}

	.channel__box {
		margin: 0;
	}

	.aside,
	.channels__list {
		width: 70px;
	}

	.channels {
		overflow-y: auto;
	}

	.channels::-webkit-scrollbar {
		width: 0;
	}
}

