/* HEADER STYLE */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ SHELL */
.header {
	--logo-color: #4C4C4C;
	--border: #c7c7c7;
	--border-focus: #3b4bb5;
	--btn-bg: #f3f3f3;
	--btn-bg-hover: #e6e6e6;

	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--bg);
}

.header__container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 56px;
	padding: 0 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ START */
.header__start {
	display: flex;
	align-items: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ START LOGOTYPE */
.logotype {
	display: flex;
	align-items: center;
}

.logotype__emblem {
	flex: 0 0 46px;
	width: 46px;
	height: 46px;
	padding: 8px;
}

.logotype__emblem img {
	height: 100%;
}

.logotype__symbol {
	padding: 8px;
	width: max-content;

	font-weight: bold;
	font-size: 22px;
	color: var(--logo-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ CENTER */
.header__center {
	display: flex;
	flex: 0 1 700px;
	align-items: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ CENTER SEARCH */
.header__search {
	flex: 1;
	margin: 0 0 0 30px;
	padding: 8px 0;
	height: 46px;
}

.search form {
	display: flex;
	height: 100%;
}

.search__item {
	flex: 1;
}

.search__input {
	border-radius: 2px;
	border: 1px solid var(--border);
	border-right: none;

	width: 100%;
	height: 100%;
	padding: 4px 10px;
	background-color: transparent;

	font-weight: 500;
	font-size: 14px;
}

.search__input:focus {
	border: 1px solid var(--border-focus);
	box-shadow: 0 0 2px var(--border-focus);
}

.search__btn {
	display: flex;
	flex: 0 0 40px;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--border);
	height: 100%;
	width: 40px;
	cursor: pointer;
	background-color: var(--btn-bg);
	transition: background-color 120ms ease;
}

.search__btn:hover {
	background-color: var(--btn-bg-hover);
}

.search__btn img {
	flex: 0 0 16px;
	width: 16px;
	height: 16px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ CENTER VOICE */
._icon {
	display: flex;
	flex: 0 0 46px;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;
	padding: 8px;
}

._icon img,
._icon svg {
	flex: 0 0 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

._icon svg path {
	fill: var(--icon-color);
	transition: fill 120ms ease;
}

._icon svg:hover path {
	fill: var(--icon-color-hover);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ END */
.header__end {
	display: flex;
	align-items: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ END ICONS */
.header__icons {
	display: flex;
	align-items: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ END AVATAR */
.avatar {
	cursor: pointer;
}

.avatar__box {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	background-color: var(--orange-60);
	transition: background-color 120ms ease;
}

.avatar:hover .avatar__box {
	background-color: var(--white-grey-100);
}

.avatar:hover .avatar__menu {
	display: block;
}

.avatar__box img {
	width: 100%;
	height: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ END MENU */
.avatar__menu {
	position: absolute;
	top: calc(100% - 16px);
	right: 15px;
	display: none;
	padding-top: 16px;
}

.menu__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	border-radius: 2px;
	background-color: var(--bg);
	box-shadow: 0 0 2px var(--grey-light-80);
}

.menu__separator {
	width: 100%;
	height: 1px;
	background-color: var(--grey-light-40);
}

.menu__item {
	display: flex;
	flex: 0 0 auto;
	align-items: center;
	width: 180px;
	height: 36px;
	padding: 8px 10px;
}

.menu__item:hover {
	background-color: var(--grey-light-20);
}

.menu__item img {
	flex: 0 0 18px;
	width: 18px;
	height: 18px;
}

.menu__item span {
	display: block;
	flex: 0 1 100%;
	align-self: flex-end;
	overflow: hidden;
	margin-left: 10px;
	
	font-weight: 600;
	font-size: 16px;
	text-overflow: ellipsis;
	color: var(--grey-night-100);
}

.menu__item_red span {
	color: var(--red-100);
}
