/* ICON FONTS */

@font-face {
	font-family: 'icons';
	src:
	url('../../fonts/Icons/icons.ttf?4ifwk9') format('truetype'),
	url('../../fonts/Icons/icons.woff?4ifwk9') format('woff'),
	url('../../fonts/Icons/icons.svg?4ifwk9#icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
	font-family: 'icons' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-youtube:before {
	content: "\e900";
}
